* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #343a40;
    padding: 20px;
}


.logo {
    font-size: 35px;
    font-weight: 800;
    color: black;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 10;
    position: sticky;
    top: 0;
    left: 0;
    background: #ffffff;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.burger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.3s;
}

#navbar {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar li {
    padding: 0 20px;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
    color: red;
}

/* media queries */
@media (max-width: 768px) {
    #header {
        padding: 20px;
        justify-content: space-between;
    }

    #navbar-container {
        display: none;
        width: 30%;
        position: absolute;
        top: 60px;
        right: 0;
        background: #ffffff;
        z-index: 5;
        border-radius: 0px 0px 0px 70px;
        margin-top: 1px;
    }

    #navbar {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    #navbar li {
        padding: 15px 0;
    }

    #navbar li a {
        font-size: 18px;
    }

    .burger-menu {
        display: flex;
    }
}

#navbar-container.active {
    display: block;
}

#feature {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

#feature .featureBox {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid black;
    border-radius: 4px;
    margin: 15px;
}

#feature .featureBox:hover {
    box-shadow: 10px 10px 60px rgb(70, 62, 221, 0.2);
}

#feature .featureBox img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .featureBox h6 {
    display: inline;
    padding: 9px 8px 8px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: black;
}
